.cont-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 70px);
    width: 100%;
}

.cont-title-pro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Raleway";
    font-size: 25px;
    color: var(--navy-blue);
    padding: 20px 0 20px 0;
}

.cont-card-pro {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.cont-cardP {
    display: flex;
    flex-direction: column;
    height: 420px;
    width: 350px;
    background-color: #FFFFFF;
    border-radius: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.cont-cardP:hover {
    transform: scale(1.05);
}

.cont-ima-pro {
    height: 40%;
    padding: 0 50px 0 50px;
}

.cont-card-pro img {
    height: 100%;
}

.cont-desc-pro {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cont-desc-pro h2 {
    color: var(--turquoise-light);
    font-size: 28px;
    font-family: "Raleway";
}

.cont-desc-pro p {
    color: var(--navy-blue);
    font-size: 16px;
    font-family: "Poppins";
}

.cont-button-pro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-pro {
    border-radius: 10px;
    background: linear-gradient(45deg, var(--sky-blue), var(--turquoise-light));
    border: none;
    height: 50px;
    width: 200px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Poppins";
    font-size: 20px;
    color: #ffffff;
}

.button-pro:hover {
    background: linear-gradient(45deg, var(--navy-blue), var(--purple));
    transform: scale(1.05);
}

@media (max-width: 1000px) {
    .cont-ima-pro {
        height: 40%;
        padding: 0 20px 0 20px;
    }
}

@media (max-width: 800px) {
    .cont-title-pro {
        font-size: 18px;
        padding: 10px 0 10px 0;
    }

    .cont-card-pro {
        display: flex;
        flex-direction: column;
    }

    .cont-cardP {
        display: flex;
        flex-direction: column;
        height: 260px;
        width: 250px;
    }

    .cont-ima-pro {
        height: 40%;
        padding: 0 20px 0 20px;
    }

    .cont-desc-pro h2 {
        font-size: 18px;
    }

    .cont-desc-pro p {
        font-size: 12px;
    }

    .button-pro {
        height: 40px;
        width: 120px;
        font-size: 14px;
    }
}