.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: url('./assets/Frame25.png'); */
  background: url('https://img.freepik.com/vector-premium/diagrama-circuito-azul-tecnologia-sobre-fondo-blanco-sistema-conexion-placa-circuito-alta-tecnologia-tecnologia-abstracta-vectorial-sobre-fondo-blanco_387612-717.jpg') no-repeat center center;
  background-size: cover;
  padding: 2rem;
  color: #001B48;
}

.auth-content {
  display: flex;
  margin-top: 6%;
  justify-content: center;   /* centra horizontalmente */
  align-items: center;       /* centra verticalmente */
  border-radius: 12px;
  overflow: hidden;
  width: 90%;
  height: 100%;
}



.auth-left {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: moveLeft 1s ease-out;
}

.auth-logo {
  width: 50%;
  margin-bottom: 1rem;
}

.auth-title {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.auth-subtitle {
  font-size: 1rem;
  line-height: 1.5;
}

@keyframes moveLeft {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.auth-card-login {
  background: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 8px;
  width: 33%;
  height: 55vh;
  box-shadow: 0px 0px 25px 0px rgba(23, 2, 114, 0.7);
}

.auth-card-login h2 {
  text-align: center;
  color: #001B48;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}

.auth-card-register {
  background: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 8px;
  width: 33%;
  height: 75vh;
  box-shadow: 0px 0px 25px 0px rgba(23, 2, 114, 0.7);
}

.auth-card-register h2 {
  text-align: center;
  color: #001B48;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}

.auth-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 50vh;
}

.auth-field label {
  font-size: 17px;
  color: #001B48;
  font-family: 'Raleway';
  font-weight: 600;
  margin-bottom: 5px;
}

.auth-field input {
  padding: 8px;
  border: 1px solid #00bfff;
  border-radius: 4px;
  outline: none;
}

.auth-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8%;
  margin-left: 5%;
  width: 90%;
}

.boton {
    padding: 0.7rem 1.2rem;
    border-radius: 12px;
    border: 2px solid #001B48;
    text-decoration: none;
    color: #001B48;
    background-color: transparent;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.boton:hover {
    color: #00bfff;
    background: transparent;
    border: 2px solid #00bfff;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}